# Godot 4+ specific ignores
.godot/
/android/
.idea/
.build/
# Most likely should even exist anyway
save.json 
config.json
*.exe
.sconsign.dblite
*.snippet
snippets/
*.x86_64
*.tvbwave
src/*.o
src/*.os
src/riscv/*.o
src/riscv/*.os
*.TMP
build-output/
*.import